{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'error.base.html.twig' %}
{% block body %}
    <div class="row" style="margin-top: 100px;">
        <div class="col-md-8 col-md-offset-2 text-center">
            <br/>
            <h2 class="mbr-header__text"><b>Internal Serveur Error</b></h2>
            {# example security usage, see below #}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {# ... #}
            {% endif %}
            <h1 class="text-xs-center" style="font-family: 'Rock Salt', cursive; font-size: 15em;">500</h1>

            <div class="text-xs-center">
                Sorry, something not normal happen, we are already informed and our engineer will fix it soon.</b>
                <hr>
                <u>website.com</u>
            </div>
        </div>
    </div>
{% endblock %}