{% extends 'base.html.twig' %}

{% block body %}

    <section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-after-navbar" id="form1-0" style="background-color: rgb(239, 239, 239);">
        <div class="mbr-section__container mbr-section__container--std-padding container" style="padding-top: 93px; padding-bottom: 93px;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
                            <div class="mbr-header mbr-header--center mbr-header--std-padding">
                                <h2 class="mbr-header__text">CONTACT FORM</h2>
                            </div>
                            <div data-form-alert="true">
                                <div class="hide" data-form-alert-success="true">Thanks for filling out form!</div>
                            </div>
                            <form action="https://website.com/" method="post" data-form-title="CONTACT FORM">
                                <input type="hidden" value="cCO39gcDCbxEC+AUp8gOZpFjetJQu18X1qxNstxyBPvgCEmQgsrF3mM0yZ8H1l/NruAcCevQLVrPdMMOZ/orHzSKf4S2N/2CDPEFhX2EqU3f6CEgea6lScJ8l3GFmSbF" data-form-email="true">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" required="" placeholder="Name*" data-form-field="Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" required="" placeholder="Email*" data-form-field="Email">
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" name="phone" placeholder="Phone" data-form-field="Phone">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="7" placeholder="Message" data-form-field="Message"></textarea>
                                </div>
                                <div class="mbr-buttons mbr-buttons--right"><button type="submit" class="mbr-buttons__btn btn btn-lg btn-danger">CONTACT US</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block stylesheets %}
<style>

</style>
{% endblock %}
